#logout {
    position: absolute;
    top: 20px;
    right: 20px;
}
.logo{
    height: 100px;
}

main {
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.single_section {
    background-color: rgba(0, 0, 0, 0.605);
    display: flex; 
    flex-direction: column;
    color: ghostwhite; 
    padding: 20px;
    margin-bottom: 30px;
}

#map {
    height: 300px;
    max-width: 500px;
    width: 100%;
    margin: auto
}
#new_picture{
    height: 100px;
    width: 100px;
    margin:auto;
    border-radius: 50px;
}

#generate_id{
    margin:auto
}

#toggle_screen{
    position: absolute;
    top: 20px;
    left: 20px;
}

.notes li:hover{
    cursor:pointer;
    text-decoration: line-through;
}